@import 'login.css';



body {
    background-color: #0e121a !important;
}

.card-video {
    margin: 20px 20px 20px 20px;
}

.card {
    position: relative;
    display: inline-block;
    margin: 10px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
}

.card-text {
    text-align: center;
    color: rgba(215, 214, 214, 0.83);
    font-family: 'Fira Mono', monospace;
    font-size: 24px;
    margin: 0.3em 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    position: relative;
}

.rating {
    position: absolute;
    bottom: 4.5em;
    left: 0.2em;
    color: white;
    /* z-index: 1; */
    background-color: rgba(38, 151, 255, 0.69);
    width: 50px;
    text-align: center;
    border-radius: 24.5px;
    font-family: var(--font-family);
}

.colored-background {
    height: 20px;
    width: 36px;
    position: absolute;
    bottom: 195px;
    left: 15px;
    background-color: rgba(38, 151, 255, 0.69);
    color: white;
    padding: 8px 12px;
    z-index: 1;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-body {
    position: relative;
    z-index: 2;
}

.carousel {
    top: -6rem;
    z-index: -1;
    margin: 0 !important;
}

/* <-- navbar --> */



#carousel_video .carousel-item {
    height: 50%;
    max-height: 600px;
    content: initial;
}

#carousel_video .carousel-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#carousel_video .carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s;
}

#carousel_video .carousel-item:hover::before {
    opacity: 0;
}

#carousel_video .carousel-item img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.image {
    aspect-ratio: 16/9;
    object-fit: contain !important;
}

.header {
    font-size: 35px !important;
    font-weight: 500;
    color: #fff;
}

.cont {
    color: #5ffbf1;
}

.card-display {
    cursor: pointer;
    display: flex;
}

.reco-header {
    position: absolute;
    left: 0.5em;
}

.reco-img {
    width: 100%;
    height: 400px;
}

.recommended-div {
    position: relative;
}

.recommended-div::before {
    content: '';
    width: 100%;
    height: 411px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1;
    transition: background-color 0.3s ease;
    /* Add a transition for smooth effect */
}

.recommended-div:hover::before {
    background-color: rgba(0, 0, 0, 0);
}

.recommended_anime {
    position: relative;
    top: 1em;
    margin-bottom: 2em;
}

.reco-text {
    position: absolute;
    bottom: 1em;
    font-size: 40px;
    /* z-index: 100; */
    letter-spacing: 1px;
    color: #5ffbf1;
    line-height: 100px;
    left: 2em;
}

.reco-rating {
    border-radius: 29px;
    background: linear-gradient(90deg,
            rgba(217, 217, 217, 0.48) 0%,
            rgba(217, 217, 217, 0) 70.03%);
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    left: 1em;
    z-index: 10;
}

@media only screen and (max-width: 750px) {
    .reco-img {
        width: 300px;
    }

    .recommended-div {
        margin-bottom: 5em;
    }

    .reco-text {
        width: 50%;
        text-align: center;
        font-size: 15px;
        /* color: #fff; */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        bottom: -6em;
        left: 0;
    }

    .recommended-div::before {
        content: '';

        background-color: rgba(0, 0, 0, 0);
    }


}