*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px dotted red; */

}
body {
    background-color: #0e121a !important;
}
.card-display{
    padding: 20px;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.card-video {
    margin: 20px 20px 20px 20px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
    width: 250px;
    height: 435px;
    scale: 1;
    transition: all 0.3s linear;
}

.card:hover{
    scale: 1.05;
}

.card-text {
    text-align: center;
    color: rgba(215, 214, 214, 0.83);
    font-size: 24px;
    margin: 0.3em 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
    max-height: 3rem;
    transition: max-height 0.3s ease;
}

.card:hover .card-text{
    max-height: 4rem;
    text-overflow: initial;
    overflow: visible;
    white-space: normal;
}



.card-img-top {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
}

.rating {
    bottom: 4.5em;
    left: 0.2em;
    color: white;
    background-color: rgba(38, 151, 255, 0.69);
    width: 50px;
    text-align: center;
    border-radius: 24.5px;
    font-family: var(--font-family);
}


.card .rating{
    position: absolute;
    z-index: 1;
    left: 1rem;
    bottom: 20%;
}

.colored-background {
    height: 20px;
    width: 36px;
    position: absolute;
    bottom: 195px;
    left: 15px;
    background-color: rgba(38, 151, 255, 0.69);
    color: white;
    padding: 8px 12px;
    z-index: 1;
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-body {
    position: relative;
    z-index: 2;
}

.carousel {
    margin-top: -6.5em !important;
    background: linear-gradient(0deg, rgba(0,0,0,0) 17%, rgba(0,0,0,0.8827906162464986) 93%);
}

/* <-- navbar --> */

#carousel_video .carousel-item {
    height: 50%;
    max-height: 600px;
    content: initial;
    z-index: -1;
}

#carousel_video .carousel-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#carousel_video .carousel-item::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s;
}

#carousel_video .carousel-item:hover::before {
    opacity: 0;
}

#carousel_video .carousel-item img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain !important;
}

.header {
    font-size: 35px !important;
    font-weight: 500;
    color: #fff;
    padding: 20px;
}

.cont {
    color: #5ffbf1;
}

.recommended-div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: max-content;
}

.recommended_anime {
    height: 50vh;
    width: 100%;
    background: no-repeat center center/cover;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    background-color: linear-gradient(0deg, rgba(0,0,0,0.8547794117647058) 0%, rgba(0,0,0,0.6783088235294117) 81%);


}

.reco-text {
    bottom: 1em;
    font-size: 40px;
    letter-spacing: 1px;
    color: #5ffbf1;
    line-height: 100px;
    left: 2em;
}

.reco-rating {
    border-radius: 29px;
    background: linear-gradient(90deg,
            rgba(217, 217, 217, 0.48) 0%,
            rgba(217, 217, 217, 0) 70.03%);
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

@media only screen and (max-width: 750px) {
    .reco-img {
        width: 300px;
    }

    .recommended-div {
        margin-bottom: 5em;
    }

    .reco-text {
        width: 50%;
        text-align: center;
        font-size: 15px;
        /* color: #fff; */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        bottom: -6em;
        left: 0;
    }

    .recommended-div::before {
        content: '';

        background-color: rgba(0, 0, 0, 0);
    }


}