@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');
:root {
    --background: #0e121a;
    --font-family: 'Sarala', sans-serif;
    --header-color: #8b93ae;
    --input-bg: #151820;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
table#videoTable {
    background-color: var(--background) !important;
    font-family: var(--font-family);
    color: var(--header-color);
}

tr.trow,
td.tdata,
th.thead {
    background-color: var(--background);
    font-family: var(--font-family);
    color: var(--header-color);
}

button.submit {
    width: 5em;
    /* padding: 1em; */
    background-color: var(--input-bg);
    color: var(--header-color);
    border: none;
    /* margin: 1em; */
}