* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #0e121a;
    font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
    margin: 1rem 3rem 0;
}



.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile {
    padding: 1rem 0;
}

.change-profile {
    margin-left: 23%;
    cursor: pointer;
    color: #fff;
    transition: color 0.3s linear;
}

.change-profile:hover {
    color: rgba(139, 147, 174, 0.88);
}

.image {
    border-radius: 50%;
    height: 300px;
    display: flex;
    margin: 0 auto;
}

.email,
.name {
    display: flex;
    margin: 0.7rem 0;
    width: 100%;
    height: 60px;
    padding: 1rem;
    color: rgba(139, 147, 174, 0.88);
    background-color: #151820;
    border: none;
    border-radius: 10px;
    font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
    font-size: 18px;
}

.form-container {
    margin: 1rem 0 0;
}

label {
    color: rgba(139, 147, 174, 0.88);
    font-size: 24px;
}

input:focus-within {
    outline: 0;
}

.button{
    cursor: pointer;
    margin: 1rem 0;
    padding: 1rem;
    width: 20%;
    color: rgba(139, 147, 174, 0.88);
    background-color: #151820;
    border: none;
    font-family: 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
    transition: all 0.3s linear;
}

.button:hover{
    background-color: rgba(139, 147, 174, 0.88);
    color: #151820;
}